@media only screen and (max-width: 767px) {

    .join {
        flex-direction: column;
        align-items: center;

    }

    .d-flex {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
    }

    .d-flex img {
        width: 100%;
    }
}